#top_filter {
    margin:20px 0;
    padding:20px 0;
}
.form-date {
    position: relative;
}
.form-date img.calendar-icon {
    border:0px;
    width:19px;
    height:19px;
    vertical-align:top;
    margin:1px;
    margin-left:2px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 9px;
}
.form-date img.calendar-icon-hover {
    border:1px solid #AEB6C2; 
    background-color:#DBE3F2; 
    margin:0px; 
    margin-left:1px}
    
.bx-calendar .bx-calendar-button-block {
   -webkit-box-sizing: inherit!important;
   -moz-box-sizing: inherit!important;
   box-sizing: inherit!important;
}
.buttom_filter {
	text-align: left;
	
}
a.btn_filter {
	text-decoration: none!important;
	cursor: pointer;
	border-bottom: 1px solid;
}