.t_lot {
    margin: 5px 0;  
    padding: 5px 0;
    border-top: 1px solid #d9d9d9;
    //float: left;
}
.t_lot form {
}
.t_block_top h2 {
//width: 100%;
}
.t_lot form textarea {
    width: 100%;
    padding: 0;
    resize: none;
    border: 1px solid #abadb3;
    background-image: linear-gradient(bottom, rgb(230,230,232) 30%, rgb(255,255,255) 70%);
    background-image: -o-linear-gradient(bottom, rgb(230,230,232) 30%, rgb(255,255,255) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(230,230,232) 30%, rgb(255,255,255) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,230,232) 30%, rgb(255,255,255) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(230,230,232) 30%, rgb(255,255,255) 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, rgb(230,230,232)),
        color-stop(0.7, rgb(255,255,255))
        );
}
.t_lot_table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 12px;
    font-family: Verdana;
    width: 100%;
}
.t_lot_table img {
    display: inline !important;
    margin: 0 !important;
}
.t_lot_table.bold * {
    font-weight: bold;
}
.t_lot_table th {
    border: 1px solid #d9d9d9;
    padding: 3px 10px;
    white-space: nowrap;
}
.t_lot_table td {
    border: 1px solid #d9d9d9;
    padding: 3px 10px;
}
.t_lot_table tr {
    border-top: 1px solid #fff;
}
.t_lot_table tr.odd {
    background: #f2f2f2;
}
.t_lot_table input {
    border: 1px solid #abadb3;
    padding: 1px 5px;
    background-image: linear-gradient(bottom, rgb(243,242,242) 9%, rgb(255,255,255) 78%);
    background-image: -o-linear-gradient(bottom, rgb(243,242,242) 9%, rgb(255,255,255) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(243,242,242) 9%, rgb(255,255,255) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(243,242,242) 9%, rgb(255,255,255) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(243,242,242) 9%, rgb(255,255,255) 78%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(243,242,242)),
        color-stop(0.78, rgb(255,255,255))
        );
}
input.w80 {
    width: 80px;
}
input.w300 {
    width: 300px;
}

.t_lot_meta p {
    margin: 0 0 7px;
}





.t_active {
    padding: 0 0 0 20px;
    line-height: 12px;
    min-height: 15px;
    display: inline-block;
    background: transparent url(images/active.gif) 0 50% no-repeat scroll;
}
.t_legend.t_active {
    padding-right: 20px;
}
.t_arhive{
    padding: 0 0 0 20px;
    line-height: 12px;
    min-height: 15px;
    display: inline-block;
    background: transparent url(images/arhive.gif) 0 50% no-repeat scroll;
}
a.t_arhive{
    color: #f1896c !important;
}
.t_open{
    padding: 0 0 0 20px;
    line-height: 12px;
    min-height: 15px;
    display: inline-block;
    background: transparent url(images/open.gif) 0 50% no-repeat scroll;
}
.t_block_top .t_block_top_left {
    //float: left;
}

.t_block_left {
//float: left;
//width: 205px;
}
.t_block_right {
//float: right;
//width: 695px;
}

.errors-tender {
    color: red;
    display: block;
    border: 1px solid red;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.send-ok-tender {
    color: #7EB060;
    display: block;
    border: 1px solid #7EB060;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.item-proposal-price {
    white-space: nowrap;
}
.alert.alert-danger {
	margin-top:20px;
		text-align: center;
}
.alert.alert-danger font.errortext {
	color:#fff!important;
	font-weight: bold;
	font-size: 18px;

}
        .gr_style {
            background: #DDDDDD;
        }
        input:disabled {
            color: black;
        }
        tr.gr_style input:disabled {
            color: gray;
        }
    .message-dopprop {
        
    }
    .message-dopprop h4 {
        margin-bottom: 3px;
    }
    .button-hide {
        text-decoration: none!important;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .collapsed .fa-arrow-up{
        display:none;
    }
    .collapsed .fa-arrow-down{
        display:block!important;
    }

.error_span {
    color: red;
    font-size: 12px;
    width:100px;
}
.proposal-tab-link:not(.active){
	color: #007bff !important;
}


.t_mt20 {
	margin-top: 20px;
}
.t_right {
	float:right;
}
.t_pd10 {
	padding: 10px;
}

.side-tab {
	#position: absolute;
	height: 100%;
	left: -32px;
	top: 0px;
	width: 100%;
}
.side-tab_content {
	#position: absolute;
	width: 100%;
	height: 100%;
	border-left: none;
	left: 42px;
	right: 0px;
	display: none;
	min-height: 640px;
}
.side-tab_tabs {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -16px;
}
.side-tab_tab {
	background: #B7B7B7;
	border-radius: 0px 16px 0px 0px;
     width: 200px; height: 32px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 0 0;
    -o-transform: rotate(-90deg);
    -o-transform-origin: 0 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    top: 200px;
    left: -16px;
	list-style-type: none;
	padding-left: 16px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}


.side-tab_tab:hover {
	background: #969696;
}
.side-tab_tab.active {
	background: #7b9aa9;
}

#secondTab{
    top:420px;
}
#thirdTab{
    top:640px;
}

.t_block {
	border: 1px solid #7b9aa9;
	height: 100%;
}
.t_block_header {
	background: #7b9aa9;
	padding: .75rem;
	color: #fff;
	text-transform: uppercase;
	font-family: "Helvetica Neue Cyr Medium", Arial, sans-serif;
	font-size: 14px;
}
.t_block_footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}
.t_block_content {
	padding: 6px 9px;
}
.t_block_content_pd0 {
	padding: 6px 9px;
}
.space-bottom {
    margin-bottom: 40px;
}
.t_panel_actions {
	margin-top: 24px;
	margin-bottom: 6px;
	background: #EEEFF0;
}
.t_lot_exclamation {
	color: #d91a2d;
}
.t_lot_pre_status {
	background: #CF1427;
	margin-top: 0 !important;
}
input[name="proposal_submit"] {
	background: #CF1427;
	color: #fff;
}

input[name="proposal_submit"]:hover {
	color: #fff;
	background: #B51225;
}

input[name="proposal_submit"],
input[name="proposal_submit"]:hover,
input[name="proposal_submit"]:active,
input[name="proposal_submit"]:focus
{
	outline: none !important;
	border: none !important;
	box-shadow: none;
}

.close:focus {
	outline: none;
}

.btn-refresh {
	background: #EEEFF0;
	color: #66808C;
	font-weight: bold;
	border: 1px solid #66808C4A;
}

.btn-refresh:hover {
	background: #E2E2E2;
	color: #66808C;
}

.btn-refresh:hover,
.btn-refresh:focus,
.btn-refresh:active {
	box-shadow: none;
	outline: none;
}
