.pop-up-message{
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 20px;
	border: 1px solid silver;
	border-radius: 5px;
	background: #fff;
	z-index: 1500;
	color: #333;
	max-width: 600px;
	box-shadow: 5px 5px 100px rgba(0, 0, 150, .3);
}
.pop-up-message.with-veil{
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.pop-up-message .icon-close{
	float: right;
	margin: -25px -17px 0 0;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: silver;
	cursor: pointer;
}
.pop-up-message .icon-close:hover{
	color: #333;
}

.hover-dotted:hover{
	border-bottom: 1px dotted;
	text-decoration: none;
}
#veil{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1499;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}