.fa {
	margin:4px 0 0 3px;
}

.t_lot_title {
	font-size: 16px;
	font-weight: bold;
}
.t_lot_descr {
	
}
.t_lot_id {
	
}
.t_lot_section {
	
}
.t_lot_open_price {
	
}
.t_lot_proposal {
	
}
.t_lot_company {
	
}
.t_lot_responsible_fio {
	
}
.t_lot_responsible_phone {
	
}
.t_lot_start_date {
	
}
.t_lot_end_date {
	
}
.t_lot_actions {
	
}

.proposal_request {
	padding: 6px 8px;
	font-size: 14px;
}